{% extends "layout/im.html" %}


{% block body %}
    <style>
        .overflow-hide {
            display: inline-block;
            white-space: nowrap;
            width: 500px;

            overflow: hidden; /* "overflow" value must be different from "visible" */
            text-overflow: ellipsis;
        }

        .overlay {
            display: none;
            z-index: 1000;
            position: absolute;
            width: 400px;
            max-height: 300px;
            overflow: auto;
            left: 0;
            top: 0;
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 5px;
        }

        .overlay h3 {
            line-height: 36px;
            background-color: #eee;
            border-bottom: 1px solid #ddd;
            padding: 0 10px;
        }

        .overlay p {
            line-height: 28px;
            border-bottom: 1px dashed #ddd;
            padding: 10px 10px;
            margin-bottom: 0;
        }

        .overlay p:last-child {
            border-bottom: 0;
        }

        .game-table {
            position: relative;
        }

        .btn-delete {
            color: #fff;
            background-color: #ed5c5c;
            border: 1px solid #ed5c5c;
            border-radius: 2px;
            display: inline-block;
            margin-bottom: 0;
            font-weight: 400;
            text-align: center;
            vertical-align: middle;
            cursor: pointer;
            background-image: none;
            white-space: nowrap;
        }
    </style>
    <div class="overlay" id="overlay">
        <h3>问题预览</h3>
        <p class="question"></p>
        <p class="answer"></p>
    </div>
    <div class="container">
        <div class="inner-wrapper">
            <div class="one-wrapper">
                <div class="panel">
                    <div class="opt-bar clearfix">
                        <a href="/question/add" class="rt btn-s btn-success" data-action="redirect">添加问题</a>
                        <input type="hidden" name="" id="offset" value="{{ data.offset }}"/>
                    </div>
                    <input type="hidden" name="" id="offset" value="{{ data.offset }}"/>
                    <div class="game-table">

                        <table>
                            <tr>
                                <th><span>问题</span></th>
                                <th width="120"><span>操作</span></th>
                            </tr>

                            {% for item in data.list %}
                                <tr>
                                    <td>
                                        <a href="#" data-answer="{{ item.answer }}"
                                           class="overflow-hide question">{{ item.question }}</a>
                                    </td>
                                    <td>
                                        <input type="button" class="btn-2 btn-delete" data-id="{{ item.id }}"
                                               value="删除"/>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="5">
                                        <div class="none-data">无数据</div>
                                    </td>
                                </tr>
                            {% endfor %}


                        </table>
                    </div>
                    <div class="opt-bar pagination-bar text-align-right">
                        {{ pagination('question.question_index', data.pagination) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form id="delete_form" action="{{ url_for('question.question_index',_external=True) }}" method="post">
        <input type="hidden" name="id" id="question_id" value=""/>

    </form>
{% endblock %}
{% block script %}
    <script src="{{ url_for('web.static', filename='js/website/lib/jquery.min.js',_external=true) }}"></script>
    <script>
        seajs.use('dist/app/im/index/index');
        $('.btn-delete').on('click', function () {
            if (confirm('确认删除?')) {
                $.ajax({
                            method: "DELETE",
                            url: "{{ url_for('question.question_delete') }}",
                            data: {id: $(this).attr('data-id')}
                        })
                        .done(function (msg) {
                            location.reload();
                        });
            }
        });
        $('.question').on('mouseenter', function (e) {
            var overlay = $('#overlay');
            if (overlay.css('display') == 'block') {
                return false;
            }
            var clientY = $(this).offset().top;
            var question = $(this).text();
            var answer = $(this).attr('data-answer');
            overlay.find('.answer').text(answer);
            overlay.find('.question').text(question);
            overlay.css({left: $(window).width() / 2, top: clientY - overlay.height(), marginLeft: -200});
            overlay.show();
            return false;
        });
        $('.question').on('mouseleave', function (e) {
            $('#overlay').hide()
        });
        $('.overlay').on('mouseenter', function (e) {
            $('#overlay').show()
        });
        $('.overlay').on('mouseleave', function (e) {
            $('#overlay').hide()
        })
    </script>
{% endblock %}


