{% extends "layout/im.html" %}

{% block body %}
  <div class="container">
    <div class="inner-wrapper">
      <div class="one-wrapper">
        <div class="panel">
            <div class="desc-wrapper">
                <h3>微信公众账号需授予小微客服以下权限：</h3>
                <ul>
                    <li>消息与菜单权限集</li>
                    <li>用户管理权限集</li>
                </ul>
                <h3>微信小程序需授予小微客服以下权限：</h3>
                <ul>
                    <li>客服消息管理权限</li>
                </ul>
                <div class="btn-bar">
                    <a href="https://mp.weixin.qq.com/cgi-bin/componentloginpage?component_appid={{ appid }}&pre_auth_code={{ pre_auth_code }}&redirect_uri={{ redirect_uri }}" class="btn-i btn-primary mr-5" target="_blank">微信公众号登录授权</a>
                    <a href="/wx" class="btn-i btn-default">取消</a>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block script %}
{% endblock %}
