{% extends "layout/im.html" %}

{% block body %}
  <div class="container">
    <div class="breadcrumb">
      <div class="inner-wrapper">
        <ol>
          <li class="active">
          </li>
        </ol>
      </div>
    </div>
    <div class="inner-wrapper">
      <div class="one-wrapper">
        <div class="panel">
          <div class="opt-bar clearfix">
            <a href="/wx/add" class="rt btn-s btn-success" data-action="redirect">添加公众号</a>
          </div>
          <div class="game-table">
            <table>
              <tr>
                <th><span>公众号名称</span></th>
                <th><span>授权</span></th>
              </tr>
              {% for item in data.list %}
                <tr>
                  <td>
                    <a href="/wx/detail/{{item.id}}">{{item.name}}</a>
                  </td>
                  <td>
                    <span>
                    {{ "已授权" if item.is_authorized else "未授权" }}
                    </span>
                  </td>
                </tr>
              {% else %}
                <tr>
                  <td colspan="5"><div class="none-data">无数据</div></td>
                </tr>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block script %}
  <script>seajs.use('dist/app/im/index/index');</script>
{% endblock %}
