<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>小微客服</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="{{ url_for('web.static', filename='themes/default/images/favicon.ico',_external=True) }}"
          rel="shortcut icon" type=image/vnd.microsoft.icon/>
    <link rel="stylesheet"
          href="{{ url_for('web.static', filename='themes/default/css/xiaowei.css', v='0.1',_external=true) }}"/>
</head>
<body>
<div class="main">
    {% block body %}
    {% endblock %}
</div>
{#<script src="{{ url_for('web.static', filename='js/website/lib/jquery.min.js',_external=true) }}"></script>#}
{% block script %}
{% endblock %}
{#<script type="text/javascript" src="{{ url_for('web.static', filename='js/website/lib/jweixin-1.0.0.js',_external=True) }}"></script>#}
{#<script>#}
{#    wx.config({#}
{#        debug: false,#}
{#        appId: '{{ sign.appid }}',#}
{#        timestamp: '{{ sign.timestamp }}',#}
{#        nonceStr: '{{ sign.nonceStr }}',#}
{#        signature: '{{ sign.signature }}',#}
{#        jsApiList: ['checkJsApi', 'onMenuShareTimeline', 'onMenuShareAppMessage', 'onMenuShareQQ']#}
{#    });#}
{#    wx.ready(function () {#}
{#        //分享到朋友圈#}
{#        wx.onMenuShareTimeline({#}
{#            title: 'GoBelieve-国内唯一开源IM服务!',#}
{#            link: '{{ url_for('web.index',_external=True) }}',#}
{#            imgUrl: '{{ url_for('web.static', filename='themes/bootstrap/images/logo_2.png',_external=True) }}',#}
{#            success: function () {#}
{#            },#}
{#            cancel: function () {#}
{##}
{#            }#}
{#        });#}
{#        //分享给朋友#}
{#        wx.onMenuShareAppMessage({#}
{#            title: 'GoBelieve-国内唯一开源IM服务',#}
{#            desc: '一小时接入、自由定制、完全开源、私有云部署',#}
{#            link: '{{ url_for('web.index',_external=True) }}',#}
{#            imgUrl: '{{ url_for('web.static', filename='themes/bootstrap/images/logo_2.png',_external=True) }}',#}
{#            type: '',#}
{#            dataUrl: '',#}
{#            success: function () {#}
{#            },#}
{#            cancel: function () {#}
{##}
{#            }#}
{#        });#}
{#        //分享到qq#}
{#        wx.onMenuShareQQ({#}
{#            title: 'GoBelieve-国内唯一开源IM服务',#}
{#            desc: '一小时接入、自由定制、完全开源、私有云部署',#}
{#            link: '{{ url_for('web.index',_external=True) }}',#}
{#            imgUrl: '{{ url_for('web.static', filename='themes/bootstrap/images/logo_2.png',_external=True) }}',#}
{#            success: function () {#}
{#            },#}
{#            cancel: function () {#}
{##}
{#            }#}
{#        });#}
{#    });#}
{#    wx.error(function (res) {#}
{#//            {#            alert(res.errMsg);#}
{#    });#}
{#</script>#}

</body>
</html>
