{% extends "index/base.html" %}

{% block body %}
    <div class="xw-home">
        <div class="header" id="header">
            <div class="container">
                <div class="row">
                    <div class="col-md-4"><a href="/" class="logo"><img
                            src="{{ url_for('web.static', filename='themes/default/images/logo.png',_external=True) }}"
                            alt="小微客服"/>&nbsp;&nbsp;小微客服</a></div>
                    <div class="col-md-8">
                        <div class="menu">
                            {#                            <a href="#header">首页</a>#}
                            <a href="/static/docs/Android_SDK.html">接入文档</a>
                            <a href="/static/download.html">下载</a>     
                            <a href="{{ url_for('wx.wx_index',_external=true) }}">登录</a>
                            <a href="{{ url_for('account.user_register',_external=true) }}">注册</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner">
            <div class="banner-mask"></div>
            <div class="banner-desc">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 feature">
                            <h1>小微客服</h1>
                            <p>只好一点点</p>
                            <div class="btn-wrap">
                                <a href="{{ url_for('account.user_register',_external=true) }}">立即注册</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="use" id="use">
            <div class="container">
                <h2><span>无需复杂开发，对接方便简单</span></h2>
                <div class="row">
                    <div class="col-md-4">
                        <div class="step">
                            <img src="{{ url_for('web.static', filename='themes/default/images/easy-web.png',_external=True) }}"
                                 alt="">
                            <div class="desc-wrap">
                                <h3>Web</h3>
                                <p class="s">
                                    快速注册，复制代码约3分钟接入网站。
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="step">
                            <img src="{{ url_for('web.static', filename='themes/default/images/easy-wx.png',_external=True) }}"
                                 alt="">
                            <div class="desc-wrap">
                                <h3>微信公众号</h3>
                                <p class="s">
                                    快速注册，扫码绑定约1分钟搞定。
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="step">
                            <img src="{{ url_for('web.static', filename='themes/default/images/easy-mob.png',_external=True) }}"
                                 alt="">
                            <div class="desc-wrap">
                                <h3>App</h3>
                                <p class="s">
                                    快速注册,下载SDK约1小时接入APP。
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <p class="copyright">Copyright © 2014-2017 . All rights reserved.　福州木瓜信息科技有限公司</p>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
    </script>
{% endblock %}
