<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>小微客服</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet"
          href="{{ url_for('web.static', filename='themes/bootstrap/css/index.css', v='0.12',_external=true) }}"/>
    <style>
       .footer{
           background-image: none
       }
    </style>
</head>
<body class="{{ "home" if g.uri_path == '/' }}">
<div class="footer">
    <div class="container">
        <p class="hot-word">
            出现错误
        </p>

        <div class="btn-wrap">
            <a href="{{ url_for('web.index') }}" class="btn-4">点击返回</a>
        </div>
    </div>
</div>
</body>
</html>
