{% extends "layout/im.html" %}

{% block breadcrumb %}
    <div class="breadcrumb">
        <div class="inner-wrapper">
            <ol>
                <li>
                    <a href="/wx">微信公众号列表</a>
                </li>
                <li class="arrow"><span>&gt;</span></li>
                <li class="active">
                    <input name="" type="hidden" id="store_name_id" value="{{ data.info.name }}"/>
                    <span id="store_name">{{ data.info.name }}</span>
                </li>
            </ol>
        </div>
    </div>
{% endblock %}
{% block body %}
    <div class="container data-container">
        {{ self.breadcrumb() }}
        <div class="inner-wrapper">
            <div class="sidebar">
                {{ self.sidebar() }}
            </div>
            <div class="content">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
